<?xml version="1.0"?>

<launch>
    <arg name="ns" default="dsr"/>
    <arg name="model" default="m1030"/>
    <arg name="host" default="192.168.137.100"/>
    <arg name="mode" default="virtual"/>
    <rosparam command="load"
            file="$(find dsr_control)/config/dsr_control.yaml"
            ns="$(arg ns)$(arg model)"
    />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen"
      args="dsr_joint_position_controller dsr_joint_publisher" ns="$(arg ns)$(arg model)">
    </node>

    <node pkg="dsr_control" type="dsr_control_node" name="$(arg ns)$(arg model)" respawn="false" output="screen" >
        <rosparam param="name" subst_value="True">$(arg ns)</rosparam>
        <rosparam param="model" subst_value="True">$(arg model)</rosparam>
        <rosparam param="rate">10</rosparam>
        <rosparam param="ipaddress" subst_value="True">$(arg host)</rosparam>
        <rosparam param="standby">5000</rosparam>
        <rosparam param="command">true</rosparam>
        <rosparam param="mode" subst_value="True">$(arg mode)</rosparam>
        <remap from="/dsr_joint_position_controller/command"
               to="/$(arg ns)/dsr_joint_position_controller/command" />
    </node>

</launch>