<?xml version="1.0"?>
<!-- dsr_gazebo/dsr_base.launch와 같음.
 제어기와 gazebo와 연동 되므로 아래와 같은 type이 생김.
 01. real + rviz + gazebo
 02. real + rviz
 03. real
 04. single-sim-arm + rviz + gazebo
 05. single-sim-arm + gazebo
 06. real + moveit + gazebo
 07. real + moveit
 08. multi-real + rviz + gazebo
 09. multi-real + rviz
 10. multi-real
 11. multi-sim-arm + rivz + gazebo
 12. multi-sim-arm + gazebo
 13. multi-real + rviz + gazebo + single-sim-mobile
 14. multi-real + gazebo + single-sim-mobile
 15. multi-real + rviz + gazebo + multi-sim-mobile
 16. multi-real + gazebo + mulit-sim-mobile
 -->
<launch>
  <arg name="ns"    default="dsr"/>
  <arg name="host"  default="127.0.0.1"/>
  <arg name="mode"  default="virtual"/>
  <arg name="model" default="m1030"/>
  <arg name="color" default="white"/>
  <arg name="x"     default="0"/>
  <arg name="y"     default="0"/>
  <arg name="z"     default="0"/>
  <arg name="roll"  default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw"   default="0"/>

  <include file="$(find dsr_control)/launch/dsr_control.launch">
    <arg name="ns"    value="$(arg ns)"/>
    <arg name="model" value="$(arg model)"/>
    <arg name="color" value="$(arg color)"/>
    <arg name="host"  value="$(arg host)"/>
    <arg name="mode"  value="$(arg mode)"/>
  </include>

  <!-- Generate the model for gazebo and publish the robots joint states. -->
  <include file="$(find dsr_description)/launch/dsr_description.launch">
    <arg name="ns"    value="$(arg ns)"/>
    <arg name="model" value="$(arg model)"/>
    <arg name="color" value="$(arg color)"/>
  </include>

  <!-- Usage: static_transform_publisher x y z yaw pitch roll frame_id child_frame_id  period (milliseconds) -->
  <node pkg="tf" type="static_transform_publisher" name="static_base_tf" ns="$(arg ns)"
        args="$(arg x) $(arg y) $(arg z) $(arg yaw) 0 0 map $(arg ns)/world 100"/>


  <group if="$(eval arg('mode') == 'virtual')">
    <node name="spawn_create_model" pkg="gazebo_ros" type="spawn_model" ns="$(arg ns)"
    args="-x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)
    -urdf -param /$(arg ns)/robot_description -model $(arg ns)"/>
  </group>

</launch>
