<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="m0617mobile" >

  <xacro:arg name="color"   default="white"/>
  <xacro:arg name="gripper" default="none"/>


  <xacro:property name="cr" value="$(arg color)"/>
  <xacro:property name="gr" value="$(arg gripper)"/>

  <xacro:if value="${cr == 'white'}">
    <xacro:include filename="$(find dsr_description)/xacro/macro.m0617mobile.white.xacro" />
  </xacro:if>
  <xacro:if value="${cr == 'blue'}">
    <xacro:include filename="$(find dsr_description)/xacro/macro.m0617mobile.blue.xacro" />
  </xacro:if>
  <xacro:if value="${gr == 'robotiq_2f'}">
     <xacro:include filename="$(find dsr_description)/xacro/robotiq_2f.urdf.xacro" />
  </xacro:if>


  <xacro:m0617mobile namespace="$(arg namespace)"/>

</robot>
