<launch>
    <env name="ROSCONSOLE_CONFIG_FILE"  value="$(find dsr_control)/config/console.conf"/>
    <arg name="ns" default="dsr"/>
    <arg name="model" default="m1013"/>
    <arg name="host" default="192.168.137.100"/>
    <arg name="mode" default="virtual"/>
    <!-- dsr controller 로드  -->
    <rosparam file="$(find dsr_control)/config/dsr_control.yaml" command="load" ns="$(arg ns)"/>
    <!-- trajectory controller, joint_state 실행  -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="$(arg ns)" args="dsr_joint_trajectory_controller dsr_joint_publisher"/>

    <!-- moveit은 멀티 arm이 안되므로 model은 참조용으로 사용 -->
    <node pkg="dsr_control" type="dsr_control_node" name="$(arg ns)" respawn="false" output="screen" >
        <param name="name" value="$(arg ns)" />
        <param name="model" value="$(arg model)" />
        <param name="rate" value="10" />
        <param name="ipaddress" value="$(arg host)" />
        <param name="standby" value="5000" />
        <param name="command" value="true" />
        <param name="mode" value="$(arg mode)" />
    </node>
    <!-- model에 따른 moveit 실행 -->
    <include file="$(find dsr_moveit_config)/launch/$(arg model)/$(arg model).launch" ns="$(arg ns)">
    </include>

</launch>
