<?xml version="1.0"?>

<launch>
    <arg name="ros_version" default="$(env ROS_DISTRO)"/>
	<arg name="ns" default="dsr01"/>
	<arg name="host" default="127.0.0.1"/>
	<arg name="port" default="12345"/>
	<arg name="mode" default="virtual"/>
	<arg name="model" default="m1013"/>
	<arg name="color" default="color"/>
    <arg name="gripper" default="none"/>
	<arg name="mobile" default="none"/>
    <arg name="yaml" default="dsr_control"/>
    <!--use moveit : controller=:trajectory / else: controller:=position-->
    <arg name="controller" default="position"/>

	<!-- Run Doosan Robot emulator in virtual mode -->
    <group if="$(eval arg('mode') == 'virtual')">         	
		<group if="$(eval arg('ros_version') == 'kinetic')">
        	<node name="drcf" pkg="common" type="run_drcf_kinetic.sh" output="screen" required="true"  ns="$(arg ns)"
            	args="$(arg port) $(arg model)" />
		</group>
		<group if="$(eval arg('ros_version') == 'melodic')">
        	<node name="drcf" pkg="common" type="run_drcf_melodic.sh" output="screen" required="true"  ns="$(arg ns)"
            	args="$(arg port) $(arg model)" />
		</group>
		<group if="$(eval arg('ros_version') == 'noetic')">
        	<node name="drcf" pkg="common" type="run_drcf_noetic.sh" output="screen" required="true"  ns="$(arg ns)"
            	args="$(arg port) $(arg model)" />
		</group>
	</group>

	<!-- 제어기를 위한 position_controller, joint_state 정의 -->
	<rosparam command="load" file="$(find dsr_control)/config/$(arg yaml).yaml" ns="$(arg ns)$(arg model)" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen"
				args="dsr_joint_$(arg controller)_controller dsr_joint_publisher" ns="$(arg ns)$(arg model)">
	</node>

    <!--node pkg="dsr_control" type="run.sh" name="foo"/-->
	<!--node pkg="aliencontrol" type="aliencontrol" name="aliencontrol"-->
    <!--param name="cmd" value="run.sh"/-->
	<!--param name="cmd" value="xterm -e top"/-->
    <!--param name="cmd" value="xterm -e hello"/-->
	<!--/node-->

	<node pkg="dsr_control" type="dsr_control_node" name="$(arg ns)$(arg model)" respawn="false" output="screen">
		<param name="name" value="$(arg ns)" />
		<param name="rate" value="100" />
		<param name="standby" value="5000" />
		<param name="command" value="true" />
		<param name="host" value="$(arg host)" />
		<param name="port" value="$(arg port)"/>
		<param name="mode" value="$(arg mode)" />
		<param name="model" value="$(arg model)" />
                <param name="gripper" value="$(arg gripper)"/>
	    	<param name="mobile" value="$(arg mobile)" />

		<!--gazebo를 위한 joint position 명령-->
		<remap from="/dsr_joint_position_controller/command" to="/$(arg ns)/dsr_joint_position_controller/command" />
	</node>
</launch>