<?xml version="1.0"?>

<launch>
  <arg name="ros_version" default="$(env ROS_DISTRO)"/>
  <arg name="gui"   default="true"/>
  <arg name="rviz"  default="true"/>
  <arg name="world" default="empty.world"/>

  <arg name="host1" default="127.0.0.1"/>
  <arg name="host2" default="127.0.0.1"/>
  <arg name="host3" default="127.0.0.1"/>
  <arg name="host4" default="127.0.0.1"/>
  <arg name="host5" default="127.0.0.1"/>
  <arg name="host6" default="127.0.0.1"/>

  <arg name="port1" default="12345"/>
  <arg name="port2" default="12346"/>
  <arg name="port3" default="12347"/>
  <arg name="port4" default="12348"/>
  <arg name="port5" default="12349"/>
  <arg name="port6" default="12350"/>

  <arg name="mode1" default="virtual"/>
  <arg name="mode2" default="virtual"/>
  <arg name="mode3" default="virtual"/>
  <arg name="mode4" default="virtual"/>
  <arg name="mode5" default="virtual"/>
  <arg name="mode6" default="virtual"/>

  <arg name="model1" default="m0617"/>
  <arg name="model2" default="m1013"/>
  <arg name="model3" default="m1509"/>
  <arg name="model4" default="m1013"/>
  <arg name="model5" default="m1013"/>
  <arg name="model6" default="m1013"/>

  <arg name="color1" default="blue"/>
  <arg name="color2" default="white"/>
  <arg name="color3" default="white"/>
  <arg name="color4" default="white"/>
  <arg name="color5" default="blue"/>
  <arg name="color6" default="blue"/>

  <arg name="gripper" default="none"/>
  <arg name="mobile" default="none"/>


  <!-- Start Gazebo with an empty world. -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="gui"          value="$(arg gui)"/>
    <arg name="world_name"   value="$(find dsr_launcher)/worlds/$(arg world)"/>
  </include>

  <!-- ROBOT1 m0617 -->
  <include file="$(find dsr_gazebo)/launch/dsr_base.launch">
    <arg name="ns"            value="dsr01"/>
    <arg name="host"          value="$(arg host1)"/>
    <arg name="port"          value="$(arg port1)"/>
    <arg name="mode"          value="$(arg mode1)"/>
    <arg name="model"         value="$(arg model1)"/>
    <arg name="color"         value="$(arg color1)"/>
    <arg name="gripper"       value="$(arg gripper)"/>
    <arg name="mobile"        value="$(arg mobile)"/>

    <arg name="x"             value="-1.5"/>
    <arg name="y"             value="0"/>
    <arg name="z"             value="1.0"/>
    <arg name="yaw"           value="0"/>
  </include>

  <!-- ROBOT2 m1013 -->
  <include file="$(find dsr_gazebo)/launch/dsr_base.launch">
    <arg name="ns"            value="dsr02"/>
    <arg name="host"          value="$(arg host2)"/>
    <arg name="port"          value="$(arg port2)"/>
    <arg name="mode"          value="$(arg mode2)"/>
    <arg name="model"         value="$(arg model2)"/>
    <arg name="color"         value="$(arg color2)"/>
    <arg name="gripper"       value="$(arg gripper)"/>
    <arg name="mobile"        value="$(arg mobile)"/>

    <arg name="x"             value="0"/>
    <arg name="y"             value="-3.0"/>
    <arg name="z"             value="0"/>
    <arg name="yaw"           value="0"/>
  </include>

  <!-- ROBOT3 m1509 -->
  <include file="$(find dsr_gazebo)/launch/dsr_base.launch">
    <arg name="ns"            value="dsr03"/>
    <arg name="host"          value="$(arg host3)"/>
    <arg name="port"          value="$(arg port3)"/>
    <arg name="mode"          value="$(arg mode3)"/>
    <arg name="model"         value="$(arg model3)"/>
    <arg name="color"         value="$(arg color3)"/>
    <arg name="gripper"       value="$(arg gripper)"/>
    <arg name="mobile"        value="$(arg mobile)"/>

    <arg name="x"             value="1.5"/>
    <arg name="y"             value="-1.0"/>
    <arg name="z"             value="0.5"/>
    <arg name="yaw"           value="0"/>
  </include>

  <!-- ROBOT4 m1013 -->
  <include file="$(find dsr_gazebo)/launch/dsr_base.launch">
    <arg name="ns"            value="dsr04"/>
    <arg name="host"          value="$(arg host4)"/>
    <arg name="port"          value="$(arg port4)"/>
    <arg name="mode"          value="$(arg mode4)"/>
    <arg name="model"         value="$(arg model4)"/>
    <arg name="color"         value="$(arg color4)"/>
    <arg name="gripper"       value="$(arg gripper)"/>
    <arg name="mobile"        value="$(arg mobile)"/>

    <arg name="x"             value="1.5"/>
    <arg name="y"             value="1.0"/>
    <arg name="z"             value="0"/>
    <arg name="yaw"           value="0"/>
  </include>

  <!-- ROBOT5 m1013 -->
  <include file="$(find dsr_gazebo)/launch/dsr_base.launch">
    <arg name="ns"            value="dsr05"/>
    <arg name="host"          value="$(arg host5)"/>
    <arg name="port"          value="$(arg port5)"/>
    <arg name="mode"          value="$(arg mode5)"/>
    <arg name="model"         value="$(arg model5)"/>
    <arg name="color"         value="$(arg color5)"/>
    <arg name="gripper"       value="$(arg gripper)"/>
    <arg name="mobile"        value="$(arg mobile)"/>

    <arg name="x"             value="0.5"/>
    <arg name="y"             value="3.0"/>
    <arg name="z"             value="0"/>
    <arg name="yaw"           value="0"/>
  </include>

  <!-- ROBOT6 m1013 -->
  <include file="$(find dsr_gazebo)/launch/dsr_base.launch">
    <arg name="ns"            value="dsr06"/>
    <arg name="host"          value="$(arg host6)"/>
    <arg name="port"          value="$(arg port6)"/>
    <arg name="mode"          value="$(arg mode6)"/>
    <arg name="model"         value="$(arg model6)"/>
    <arg name="color"         value="$(arg color6)"/>
    <arg name="gripper"       value="$(arg gripper)"/>
    <arg name="mobile"        value="$(arg mobile)"/>

    <arg name="x"             value="-1.0"/>
    <arg name="y"             value="3.0"/>
    <arg name="z"             value="0"/>
    <arg name="yaw"           value="0"/>
  </include>

  <!-- View in RVIZ. -->
  <group if="$(arg rviz)">
    <group if="$(eval arg('ros_version') == 'kinetic')">
      <node name="dmodel" pkg="dsr_launcher" type="dmodel_kinetic.py"/>
    </group> 
    <group if="$(eval arg('ros_version') == 'melodic')">
      <node name="dmodel" pkg="dsr_launcher" type="dmodel_melodic.py"/>
    </group> 
    <group if="$(eval arg('ros_version') == 'noetic')">
      <node name="dmodel" pkg="dsr_launcher" type="dmodel_noetic.py"/>
    </group> 
  </group> 
</launch>
