<?xml version="1.0"?>
<!-- 사용하지 않음 -->
<launch>
	<arg name="ns" default="dsr" />
	<param name="robot_description" command="xacro --inorder  '$(find dsr_description)/xacro/mobile.urdf.xacro'
	          namespace:=$(arg ns)" />
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="true" />
	</node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
	</node>
	<node name="rviz" pkg="rviz" type="rviz" />
	<node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server" output="screen" />
</launch>