<?xml version="1.0"?>

<launch>
  <arg name="ros_version" default="$(env ROS_DISTRO)"/>
  <arg name="gui"   default="true"/>
  <arg name="rviz"  default="true"/>
  <arg name="world" default="empty.world"/>

  <arg name="host" default="127.0.0.1"/>
	<arg name="port" default="12345"/>
  <arg name="mode" default="virtual"/>
  <arg name="model" default="m1013"/>
  <arg name="color" default="white"/>
  <arg name="gripper" default="none"/>
  <arg name="mobile" default="none"/>


  <!-- Start Gazebo with an empty world. -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="gui"          value="$(arg gui)"/>
    <arg name="world_name"   value="$(find dsr_launcher)/worlds/$(arg world)"/>
  </include>

  <!-- Spawn the arms. -->
  <!-- include file="$(find dsr_bringup)/launch/dsr_base.launch"-->
  <include file="$(find dsr_gazebo)/launch/dsr_base.launch">
    <arg name="ns"            value="dsr01"/>
    <arg name="host"          value="$(arg host)"/>
    <arg name="port"          value="12345"/>
    <arg name="mode"          value="$(arg mode)"/>
    <arg name="model"         value="$(arg model)"/>
    <arg name="color"         value="$(arg color)"/>
    <arg name="gripper"       value="$(arg gripper)"/>
    <arg name="mobile"        value="$(arg mobile)"/>

    <arg name="x"             value="0"/>
    <arg name="y"             value="0"/>
    <arg name="yaw"           value="0"/>
  </include>
  <!-- include file="$(find dsr_bringup)/launch/dsr_base.launch"-->
  <include file="$(find dsr_gazebo)/launch/dsr_base.launch">
    <arg name="ns"            value="dsr02"/>
    <arg name="host"          value="$(arg host)"/>
    <arg name="port"          value="12346"/>
    <arg name="mode"          value="$(arg mode)"/>
    <arg name="model"         value="$(arg model)"/>
    <arg name="color"         value="blue"/>
    <arg name="gripper"       value="$(arg gripper)"/>
    <arg name="mobile"        value="$(arg mobile)"/>

    <arg name="x"             value="1"/>
    <arg name="y"             value="0"/>
    <arg name="yaw"           value="0"/>
  </include>

  <!-- View in RVIZ. -->
  <group if="$(arg rviz)">
    <group if="$(eval arg('ros_version') == 'kinetic')">
      <node name="dmodel" pkg="dsr_launcher" type="dmodel_kinetic.py"/>
    </group> 
    <group if="$(eval arg('ros_version') == 'melodic')">
      <node name="dmodel" pkg="dsr_launcher" type="dmodel_melodic.py"/>
    </group> 
    <group if="$(eval arg('ros_version') == 'noetic')">
      <node name="dmodel" pkg="dsr_launcher" type="dmodel_noetic.py"/>
    </group> 
  </group> 
</launch>
