<?xml version="1.0"?>

<launch>
  <arg name="ns"   default="dsr01"/>
  <arg name="gui"   default="true"/>
  <arg name="rviz"  default="true"/>
  <arg name="world" default="empty.world"/>
  <arg name="host" default="127.0.0.1"/>
  <arg name="port" default="12345"/>
  <arg name="mode" default="virtual"/>
  <arg name="model" default="m1013"/>
  <arg name="color" default="white"/>
  <arg name="gripper" default="none"/>
  <arg name="mobile" default="none"/>
  <arg name="remap" default="True"/>

  <!-- Start Gazebo with an empty world. -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="gui"          value="$(arg gui)"/>
    <arg name="world_name"   value="$(find dsr_launcher)/worlds/$(arg world)"/>
  </include>

  <!-- Spawn the arms. -->
  <!-- include file="$(find dsr_bringup)/launch/dsr_base.launch"-->
  <include file="$(find dsr_gazebo)/launch/dsr_base.launch">
    <arg name="ns"            value="$(arg ns)"/>
    <arg name="host"          value="$(arg host)"/>
    <arg name="port"          value="$(arg port)"/>
    <arg name="mode"          value="$(arg mode)"/>
    <arg name="model"         value="$(arg model)"/>
    <arg name="color"         value="$(arg color)"/>
    <arg name="mobile"        value="$(arg mobile)"/>
    <arg name="gripper"       value="$(arg gripper)"/>
    <arg name="rviz"        value="$(arg rviz)"/>
    <arg name="remap"        value="$(arg remap)"/>

    <arg name="x"             value="0"/>
    <arg name="y"             value="0"/>
    <arg name="yaw"           value="0"/>
  </include>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" respawn="true">
    <remap from="/joint_states" to="$(arg ns)$(arg model)/joint_states"/>
  </node>
  <!-- View in RVIZ. -->
  <!-- <group if="$(arg rviz)">
    <node name="dmodel" pkg="dsr_launcher" type="dmodel.py"/>
  </group>  -->
</launch>
